# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
*.log

# Environments
venv/
.env

# Static files

# IDEs and editors
.vscode/
.idea/
*.swp

# Python cache
__pycache__/
*.pyc

# Celery
celerybeat-schedule*
celery/

# Local / temp files
*.zip
*.sql
localhost.sql

# Media & static zips
static.zip
media.zip

# Test / unused assets
coffe_style/
Coffestyle/

staticfiles/

